@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("./background_web\ .png"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: transparent;
}

#board{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 2.8rem;
    font-family: cursive;
}

h1{
    font-family: serif;
    font-size: 3rem;
}


.img-btn {
    height: 5rem;
    width: 20rem;
}


.head {
    transform: scale(1.02);
    background-image: url("./Group\ 8060.png"); /* Replace "snake_image.png" with your snake image file */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%; /* Adjust as needed */
    transform: rotate(0deg); 
}



#timer-sec{
    font-size: 1.7rem;
    margin-top: 7px;
    width: 5vh;
    height: 8vh;
    position: absolute;
    z-index: 1;
}

#snake {
    height: 55px;
    width: 70px;
    margin-right: 89px;
}

.time-text{
    margin-top: 10px;
    color: #0c0b0b;
    font-size: 1.3em;
    border: 2px solid rgb(71, 128, 71);
    position: relative;
    box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
    border-radius: 30px;
    width: 22%;
    height: 6vh;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    padding-right: 11px;
    text-align: end;
}

.snake{
    /* border-radius: 25px; */
    /* width: 50px;
    height: 50px; */
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #9FB709 26.54%, #828D0A 59.38%, #5D5E04 89.85%);
}

.food{
    transform: scale(1.02);
    background-image: url(apple.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10%; 
    background-size: 40px 50px;
    transform: rotate(0deg); 
}


#start-page{
text-align: center; 
padding: 20px;
height: 100vh;
overflow: hidden;
background: url(./Tranh\ tường\ Đức\ Ca\ 0942192274.jpeg);
}



.img{
    border-radius: 1rem; height: 35vh; width: 40vw;
}


#quiz {
    border: 2px solid black;
     background-color: #FFF; 
     display: flex; 
    flex-direction: column; 
    height: 51rem;
    width: 43rem;
    z-index: 5;
    position: absolute;
    display: none;
    border-radius: 1rem;
    

}

#image{
    height: 350px;
    width: 370px;

}

#time-box{
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
}

#option-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;
    gap: 8px;
    margin-top: 10px;
}


.option {
    padding: 6px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.option:hover{
    background-color:rgba(0, 128, 0, 0.25) ;
}

#ques{
text-align: justify;
background-color: rgba(0, 128, 0, 0.357);
margin-inline: 17px;
font-size: 1.7rem;
padding: 8px;
margin-top: 10px;
border-radius: 0.5rem;
position: sticky;
}


.option{
    padding: 12px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    border-radius: 0.5rem;
    border: 1px solid black;
}

#popup-page{
    text-align: justify;
    width: 70% !important; 
}
@media screen and (min-width:270px) and (max-width:767px) {
    #popup-page{
        width: 95% !important;
    }
    
.img-btn {
    height: 3rem;
    width: 12rem;
}
}
#instructions-1 {
    text-align: justify;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-inline: 5px;
}


#heads{
    text-align: justify;
    font-size: 3rem;
    color: rgb(71, 128, 71);
}





/* Add this CSS to your styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 10px;
    text-align: center;
}

.close {
    color: white;
    left: 93%;
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
    font-size: 4rem;
}

.close:hover {
    color: #f2f2f29f;
}

h1{
    font-size: 2rem;
}




#text{
    font-size: 5rem;
}
.image1{
    height: 100vh;

}

#marks{
    font-family: 'Lato', sans-serif;
}


#heading{
    color: rgb(75, 128, 75);
     font-size: 5rem;
}







/* Add this style to your existing styles or create a new style block */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2; /* Higher z-index to overlay the blurred background */
}

/* Add this style to blur the background */
#startGame.blur {
    filter: blur(5px);
}



@media (max-width: 480px){

    *{
        padding: 0;
        margin: 0;
    }
body{
     overflow: hidden;
}

#heads{
    text-align: justify;
    font-size: 1.5rem;
    color: rgb(71, 128, 71);
    }


p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.7rem;
    font-family: cursive;
}


#quiz {
    border: 2px solid black;
     background-color: #FFF; 
     display: flex; 
    flex-direction: column; 
    height: 37rem;
    width: 18rem;
    z-index: 5;
    position: absolute;
    display: none;
    border-radius: 1rem; 

}

#image{
    height: 220px;
    width:253px;

}

#time-box{
    display: flex;
    justify-content: space-around;
}

#option-container{
    display: flex;
    flex-direction: column;
    padding: 7px;
    gap: 3px;
    margin-top: 2px;

}

.option{
    text-align: justify;
    padding: 10px;
    background: transparent;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    position: sticky;

}

.options:hover{
    background-color:rgba(0, 128, 0, 0.25) ;
}

#ques{
text-align: justify;
background-color: rgba(0, 128, 0, 0.357);
margin-inline: 10px;
font-size: 1.3rem;
padding: 10px;
margin-top: 10px;
border-radius: 0.5rem;
position: sticky;
}


#heading{
    color: rgb(45, 132, 45);
     font-size: 1.8rem;
}

.close {
    color: white;
    left: 86%;
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
    font-size: 2.5rem;
}

#images{
    height: 180px;
}

#instructions-1 {
    /* text-align: justify; */
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    /* padding: 0; */
}

.head {
    transform: scale(1.02);
    background-image: url("./Group\ 8060.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5%; 
    background-size: 20px 35px;
    transform: rotate(0deg); 
    
}
.food{
    transform: scale(1.02);
    background-image: url(apple.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7%; 
    background-size: 20px 30px;
    transform: rotate(0deg); 
}
#snake {
    height: 46px;
    width: 50px;
    margin-right: 33px;
}
#timer-sec {
    font-size: 17px;
    margin-top: 3px;
    width: 2vh;
    height: 5vh;
    position: absolute;
    z-index: 1;
}
.time-text {
    margin-top: 10px;
    color: #0c0b0b;
    font-size: 15px;
    border: 2px solid #348b34;
    position: relative;
    box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
    border-radius: 30px;
    width: 26%;
    height: 5vh;
    display: flex;
    justify-content: end;
    /* align-items: center; */
    padding-right: 11px;
    text-align: end;
}


}

/* @media screen and (min-width: 900px) and (max-width: 1300px) { */
    @media (max-width: 480px) {

        * {
            padding: 0;
            margin: 0;
        }

        body {
            overflow: hidden;
        }

        #heads {
            text-align: justify;
            font-size: 1.5rem;
            color: rgb(71, 128, 71);
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem;
            padding: 1rem;
            font-size: 1.7rem;
            font-family: cursive;
        }

        #quiz {
            border: 2px solid black;
            background-color: #FFF;
            display: flex;
            flex-direction: column;
            height: 37rem;
            width: 22rem;
            z-index: 5;
            position: absolute;
            display: none;
            border-radius: 1rem;
        }

        #image {
            height: 220px;
            width: 253px;
        }

        #time-box {
            display: flex;
            justify-content: space-around;
        }


    #option-container {
        display: flex;
        flex-direction: column;
        padding: 8px;
        padding-bottom: 35px;
        gap: 3px;
        margin-top: 2px;
        flex-grow: 1; /* Allow the options container to grow to fill available space */
    }


        .option {
            text-align: justify;
            padding: 10px;
            background: transparent;
            border: 1px solid black;
            border-radius: 0.5rem;
            cursor: pointer;
            font-size: 1.2rem;
            position: sticky;
        }

        .option:hover {
            background-color: rgba(0, 128, 0, 0.25);
        }

        #ques {
            text-align: justify;
            background-color: rgba(0, 128, 0, 0.357);
            margin-inline: 10px;
            font-size: 1.3rem;
            padding: 10px;
            margin-top: 10px;
            border-radius: 0.5rem;
            position: sticky;
            min-height: 100px; /* Adjust as needed for mobile */
        
        }

        #heading {
            color: rgb(45, 132, 45);
            font-size: 1.8rem;
        }

        .close {
            color: white;
            left: 86%;
            top: 0;
            right: 0;
            cursor: pointer;
            position: absolute;
            font-size: 2.5rem;
        }

        #images {
            height: 180px;
        }

        #instructions-1 {
            font-size: 1rem;
            border: 1px solid black;
            border-radius: 0.5rem;
        }

        .head {
            transform: scale(1.02);
            background-image: url("./Group\ 8060.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 5%;
            background-size: 20px 35px;
            transform: rotate(0deg);
        }

        .food {
            transform: scale(1.02);
            background-image: url(apple.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 7%;
            background-size: 20px 30px;
            transform: rotate(0deg);
        }

        #snake {
            height: 46px;
            width: 50px;
            margin-right: 33px;
        }

        #timer-sec {
            font-size: 17px;
            margin-top: 3px;
            width: 2vh;
            height: 5vh;
            position: absolute;
            z-index: 1;
        }

        .time-text {
            margin-top: 10px;
            color: #0c0b0b;
            font-size: 15px;
            border: 2px solid #348b34;
            position: relative;
            box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
            border-radius: 30px;
            width: 26%;
            height: 5vh;
            display: flex;
            justify-content: end;
            padding-right: 11px;
            text-align: end;
        }
    }